body {
  margin: 0;
  padding: 0;
}
nav {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  border-radius: 50px;
}
nav ul {

}
nav li {
  list-style-type: none;
  display: inline;
}
.logo {
  display: inline-block;
  float: left;
  height: 100px;
  width: auto;
}
